@import 'tailwindcss';

:root {
  font-family: 'Inter', sans-serif;
  --background: #ffffff;
  --foreground: #000000;
}

.polka {
  background-image: radial-gradient(rgb(205, 217, 226) 38%, transparent 65.2%),
    radial-gradient(rgb(205, 217, 226) 38%, transparent 65.2%);
  background-position: 0px 0px, 8px 8px;
  background-size: 16px 16px;
  background-color: rgb(227, 227, 232);
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--background);
  color: var(--foreground);
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

main {
  @apply absolute w-screen h-[100dvh] flex justify-center;
}

/* Shadow for header and footer elements */
.shadow-overlay {
  -webkit-box-shadow: 0px 0px 26px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 26px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 26px 7px rgba(0, 0, 0, 0.5);
}

header {
  @apply z-50 w-full h-18 bg-slate-200 absolute border-double border-b-4 flex justify-evenly items-center border-slate-300 top-0;
}

h1 {
  @apply text-4xl font-bold text-slate-800;
}

footer {
  @apply z-50 w-full h-18 bg-slate-200 absolute border-double border-t-4 flex justify-evenly items-center border-slate-300 bottom-0;
}

.btn {
  @apply text-6xl text-slate-800 transition-all duration-200   cursor-pointer hover:text-slate-600 border-x border-slate-300 w-24;
}

.card {
  @apply w-[95%] max-w-[400px] h-[80%] mt-20;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.modal-text {
  @apply text-2xl text-white font-bold my-8;
}
